# Python compiled files
*.pyc
*.pyo
*.pyd
__pycache__/

# Distribution / packaging
*.egg-info/
dist/
build/
*.egg

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# IDE / editor
.vscode/
.idea/
*.swp

*.sst